<div class="main-background">
    <app-navbar></app-navbar>

    <div class="container">
        <div class="header-row">
            <button (click)="goBackToTeams()" class="back-button">&lt; Back</button>
            <h1 class="projects-header header-text">Projects for {{teamName}} </h1>
        </div>

        <div class="new-button-container">
            <button (click)="openCreateProjectModal()" class="new-button blue-button">New</button>
        </div>

        <div class="project-container">
            <div *ngFor="let project of projects" class="project-box">
                <div class="project-info">
                    <div class="title-row">
                        <h3 class="project-title"> {{project.title}} </h3>
                        <span class="project-status" [ngClass]="{
                            'active': project.status.toLowerCase() === 'active',
                            'inactive': project.status.toLowerCase() === 'inactive'
                        }"> {{project.status}} </span>
                    </div>
                    <p class="project-description"> {{project.description}} </p>
                </div>
                <button class="edit-button yellow-button" (click)="openEditProjectModal(project)"> Edit </button>
            </div>
        </div>
    </div>

    <!-- Create Project Modal -->
    <app-modal *ngIf="showCreateProjectModal" (close)="closeCreateProjectModal()">
        <h3>Create New Project</h3>
        <form [formGroup]="newProjectForm" (ngSubmit)="submitNewProject()">
            <!-- Form -->
            <label for="projectName">Project Name</label>
            <input id="projectName" type="text" formControlName="projectName" placeholder="Enter project name" />

            <label for="description">Description</label>
            <input id="description" type="text" formControlName="description" placeholder="Enter description" />

            <!-- Button -->
            <button type="submit" [disabled]="newProjectForm.invalid" class="blue-button">
                Submit
            </button>
        </form>
    </app-modal>

    <!-- Edit Project Modal -->
    <app-modal *ngIf="showEditProjectModal" (close)="closeEditProjectModal()">
        <h3>Edit Project</h3>

        <!-- Modal Form -->
        <form [formGroup]="editProjectForm" (ngSubmit)="submitEditedProject()">
            <!-- Text Inputs -->
            <label for="editProjectName">Project Name</label>
            <input id="editProjectName" type="text" formControlName="projectName" />

            <label for="editDescription">Description</label>
            <input id="editDescription" type="text" formControlName="description" />

            <!-- Dropdown -->
            <label>Active?</label>
            <div class="dropdown" (click)="toggleStatusDropdown()">
                <div class="dropdown-selected">
                    {{editProjectForm.get('status')?.value === null ? 'Pick an option' :
                    editProjectForm.get('status')?.value}}
                </div>

                <div class="dropdown-list" *ngIf="statusDropdownOpen">
                    <div class="dropdown-item" (click)="selectStatus('Yes'); $event.stopPropagation()">Yes</div>
                    <div class="dropdown-item" (click)="selectStatus('No'); $event.stopPropagation()">No</div>
                </div>
            </div>

            <!-- Button -->
            <button type="submit" [disabled]="editProjectForm.invalid" class="blue-button">
                Save
            </button>
        </form>
    </app-modal>
</div>