<div class="main-background">
    <app-navbar></app-navbar>

    <div class="container">
        <div class="header-row">
            <button (click)="goBackToTeams()" class="back-button">&lt; Back</button>
            <h1 class="projects-header header-text">Projects for {{teamName}} </h1>
        </div>

        <div class="new-button-container">
            <button (click)="newProjectModal()" class="new-button blue-button">New</button>
        </div>

        <div class="project-container">
            <div *ngFor="let project of projects" class="project-box">
                <div class="project-info">
                    <div class="title-row">
                        <h3 class="project-title"> {{project.title}} </h3>
                        <span class="project-status" [ngClass]="{
                            'active': project.status.toLowerCase() === 'active',
                            'inactive': project.status.toLowerCase() === 'inactive'
                        }"> {{project.status}} </span>
                    </div>
                    <p class="project-description"> {{project.description}} </p>
                </div>
                <button class="edit-button yellow-button"> Edit </button>
            </div>
            <!-- <div class="project-box">
                <div class="project-info">
                    <div class="title-row">
                        <h3 class="project-title">* Some Project Title *</h3>
                        <span class="project-status">Active</span>
                    </div>
                    <p class="project-description">* Some Project Description *</p>
                </div>
                <button class="edit-button yellow-button">Edit</button>
            </div> -->
        </div>
    </div>

    <!-- Create Project Modal -->

    <!-- Edit Project Modal -->
</div>