.navbar {
    font-family: 'Mulish', sans-serif;
    border-bottom: 2px solid #DEB992;
}

span {
    color: #F24E1E;
    font-size: 20px;
    margin-left: 20px;
}

img{
    transition: rotate 0.3s ease;
}

img:hover {
    rotate: 90deg;
}